<header class="<%= karaoke? ? "bg-black " : "bg-primary " %>lter header header-md navbar navbar-fixed-top-xs">
  <div class="navbar-header aside dker nav-xs">
    <%= link_to playlists_path, class: "btn btn-link visible-xs" do %>
      <i class="icon-playlist icon"></i>
    <% end %>
    
    <%= link_to root_path, class: "navbar-brand text-lt" do %>
      <i class="icon-earphones"></i>
      <span class="hidden-nav-xs m-l-sm">Tun Up</span>
    <% end %>
    
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="icon-settings"></i>
    </a>
  </div>

  <ul class="nav navbar-nav hidden-xs">
    <%= nav_link(root_path) do %>
      <%= link_to root_path do %>
        <i class="icon-microphone icon text-info"></i>
        <span class="font-bold">Karaoke Mode</span>
      <% end %>
    <% end %>

    <%= nav_link(playlists_path) do %>
      <%= link_to playlists_path do %>
        <i class="icon-playlist icon text-success-lter"></i>
        <span class="font-bold">My Playlists</span>
      <% end %>
    <% end %>
  </ul>

  <div class="navbar-right ">
    <% if user_signed_in? %>
      <%= render 'shared/navbar/navbar_member' %>
    <% else %>
      <%= render 'shared/navbar/navbar_guest' %>
    <% end %>
  </div>
</header>