<section id="content">
  <section class="vbox">

      <section class="hbox stretch bg-black dker">
        <!-- video and playlist // left -->
        <aside class="col-sm-8 no-padder" id="sidebar">
          <section class="vbox animated fadeInUp">
              <section class="scrollable">


                <%= render 'playlists/widget/now_playing_video' %>

                <%= content_tag :ul, id: "playlist", class: "list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto", data: { :'playlist-id' => @playlist.unique_id } do %>

                  <% @playlist.videos.each do |video| %>
                    <%= content_tag :li, class: "list-group-item playlist-video", data: { id: video.unique_id } do %>

                      <% if current_user_content? %>
                        <div class="pull-right m-l">
                          <a href="#" class="remove-icon"><i class="icon-close btn-add-remove"></i></a>
                        </div>
                      <% end %>

                      <span href="#" class="jp-play-me m-r-sm pull-left">
                        <%= image_tag video.image_url, class: "thumb-xs" %>
                      </span>

                      <div class="clear text-ellipsis">
                        <span><%= video.name.titleize %></span>
                      </div>
                      
                    <% end %>
                  <% end %>

                <% end %>


              </section><!-- scrollable -->
          </section>
        </aside>

        <!-- search-result // middle -->
        <%= render 'playlists/widget/search_result' %>

        <!-- adsense // right -->

        
      </section>

  </section><!-- vbox -->
</section>