<!DOCTYPE html>
<html class="app">
<head>
  <title>Karaoke</title>
  <meta name="description" content="karaoke, music player, lyrics, playlists, unlimited music" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <section class="vbox">
    <%= render 'shared/navbar/navbar' %>

    <section>
      <section class="hbox stretch">
        <%= yield %>
      </section><!-- hbox stretch -->
    </section>

  </section>

</body>
</html>
