<!DOCTYPE html>
<html>
<head>
  <title>Karaoke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <%= render 'shared/navbar/navbar' %>

  <section>
    <%= render 'shared/flash' %>

    <section class="hbox stretch">
      <%= render 'shared/navbar/navbar_side' %>
      <%= yield %>
    </section>
  </section>

</body>
</html>
