<!DOCTYPE html>
<html class="app">
<head>
  <title>Karaoke</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <section class="vbox">
    <%= render 'shared/navbar/navbar' %>

    <section>
      <section class="hbox stretch">
        <%= yield %>
      </section><!-- hbox stretch -->
    </section>

  </section>

  <%= javascript_include_tag "https://www.youtube.com/iframe_api" %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
