<!DOCTYPE html>
<html class="app">
<head>
  <title>Karaoke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  
  <section class="vbox">
    <%= render 'shared/navbar/navbar' %>
    <%= render 'shared/flash' %>

    <section>
      <section class="hbox stretch">
        <%= render 'shared/navbar/navbar_side' unless exclude_nav? %>
        <%= yield %>
      </section><!-- hbox stretch -->
    </section>

  </section>

</body>
</html>
